include LICENSE
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
prune docs/_build
prune docs/_themes/.git
prune docs/_themes/.gitignore
recursive-include flaskext/frozen/tests/test_app *.css

