name: CI
on: [push, pull_request]
jobs:
  build:
    name: ${{ matrix.os }} - Python ${{ matrix.python-version }} - Flask ${{ matrix.flask-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.12']
        flask-version: ['3']
        include:
          - os: ubuntu-latest
            python-version: '3.8'
            flask-version: '3'
          - os: ubuntu-latest
            python-version: 'pypy-3.10'
            flask-version: '3'
          - os: ubuntu-latest
            python-version: '3.12'
            flask-version: '2'
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install hatch
      run: pip3 install hatch

    - name: Run tests
      run: hatch run test.py${{ startsWith(matrix.python-version, 'pypy') && 'py3' || matrix.python-version }}-${{ matrix.flask-version }}:run
